@media (max-width:990px) {
    .navbar-shrink {
        position: sticky;
        top: 0;
        z-index: 99;
        border-color: transparent;
        background: rgba(52, 61, 71, 0.8);
        transition: all 0.3s ease-in-out;
        /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); */
    }


}